/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

body {
    margin: 0;
    padding: 0;
    /* padding-bottom: 1000px; */
}

@font-face {
    font-family: 'regular';
    src: url(font/font/AmazonUIFont-amazonember_rg-cc7ebaa05a2cd3b02c0929ac0475a44ab30b7efa._V2_\ \(1\).woff2);
}


@font-face {
    font-family: 'bold';
    src: url(font/AmazonEmber_Bd.ttf);
}


.header .nav-top {
    display: flex;
    position: static;
    float: none;
    font-size: 14px;
    line-height: 20px;
    box-sizing: border-box;
    color: rgb(15, 17, 17);
    text-size-adjust: 100%;
    font-family: "regular", Arial, sans-serif;
}

.nav-child {
    background-color: rgb(19, 25, 13);
    box-sizing: border-box;
    color: rgb(15, 17, 17);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: nowrap;
    font-family: "regular", Arial, sans-serif;
    font-size: 12px;
    line-height: 20px;
    margin: 0;
    min-width: 1000px;
    position: static;
    top: 0;
    text-size-adjust: 100%;

}

.nav-belt {
    background-color: rgb(19, 25, 33);
    color: rgb(15, 17, 17);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 14px;
    height: 60px;
    line-height: 20px;
    position: static;
    float: none;
    font-family: "regular", Arial, sans-serif;
    text-size-adjust: 100%;
}

.nav-left {
    background-color: rgb(15, 17, 17);
    display: flex;
    font-family: "regular", Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    text-size-adjust: 100%;
    height: 60px;
    box-sizing: border-box;
}

.navlogo {
    display: flex;
    margin-left: 12px;
    margin-right: 1px;
    margin-bottom: 1px;
    margin-top: 1px;
    padding-top: 5px;
    padding-left: 6px;

    padding-right: 8px;
}

.amazonlogo {
    margin-top: 11px;
    background-image: url(assets/logoimages.png);
    background-position-x: -9px;
    background-position-y: -125px;
    box-sizing: border-box;
    background-repeat: repeat-x;
    color: rgb(33, 98, 169);
    font-size: 14px;
    height: 34px;
    line-height: 0px;
    /* text-indent: -500px; */
    text-size-adjust: 100%;
    cursor: pointer;
    width: 98px;
    background-size: 350px;

}

.in {
    display: block;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: "regular", Arial, sans-serif;
    font-size: 13.5px;
    font-weight: 400px;
    height: 14px;
    line-height: 14px;
    margin-bottom: 0px;
    margin-left: 1px;
    margin-right: 0px;
    margin-top: 16.5px;
}

.nav-location {
    display: flex;
    width: auto;
    padding: 0;
    margin: 0;
    height: 60px;
    font-size: 14px;
    line-height: 12px;
    margin-left: 2px;
    font-family: "regular", Arial, sans-serif;
    color: rgb(15, 17, 17);
    text-decoration-color: rgb(15, 17, 17);
    text-decoration-style: solid;
    text-size-adjust: 100%;


}

.nav-location-child {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 9px;

    padding-right: 9px;

    margin-right: 2px;
    align-items: center;
    box-sizing: border-box;
    color: rgb(214, 214, 214);
    cursor: pointer;
    font-size: 14px;
    height: 50px;
    line-height: 39px;
    flex-wrap: nowrap;
    font-family: "regular", Arial, sans-serif;

}

.locicon {
    background-image: url(assets/logoimages.png);
    background-position-x: -71px;
    background-position-y: -378px;
    background-repeat: repeat-x;
    background-size: 350px;

    box-sizing: border-box;
    color: rgb(214, 214, 214);
    cursor: pointer;
    display: flex;
    font-size: 14px;
    left: 2px;
    width: 15px;
    height: 18px;
    margin-top: 8px;
    line-height: 39px;
    text-size-adjust: 100%;
}

.loctext {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 14px;
    line-height: 39px;
    text-size-adjust: 100%;
    cursor: pointer;
    margin-left: 3px;
    box-sizing: border-box;
    color: rgb(214, 214, 214);
    font-family: "regular", Arial, sans-serif;


}

.del {
    display: block;
    clear: both;
    color: rgb(204, 204, 204);
    cursor: pointer;
    float: left;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    height: 14px;
    /* letter-spacing:0.14px; */
    margin: 0px;
    padding: 0;
    text-size-adjust: 100%;
    white-space: nowrap;
    font-family: "regular", Arial, sans-serif;
    box-sizing: border-box;


}

.updateloc {
    clear: both;
    font-family: "bold", Arial, sans-serif;
    display: flex;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    float: left;
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
    /* letter-spacing: 0.25px; */
    padding-bottom: 1px;
    text-size-adjust: 100%;
}

.nav-search {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-sizing: border-box;
    color: rgb(15, 17, 17);
    /* color:rgb(19, 25, 13); */
    display: flex;
    font-family: "regular", Arial, sans-serif;
    font-size: 14px;
    height: 60px;
    line-height: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 4px;
    border-radius: 4px;
    width: auto;
    margin-left: 6.5px;

    margin-right: 10px;
    flex: 1 1 auto;




    /* display: flex;
    gap: 0;
    
    justify-content: flex-start;
    align-items: center;
    row-gap:0; */
}

.nav-search-first {
    display: flex;
    background-color: rgb(230, 230, 230);
    background-position-x: 0px;
    background-position-y: -532px;
    background-repeat: repeat-x;
    background-size: 350px;
    border-bottom-color: rgb(230, 230, 230);
    border-top-color: rgb(230, 230, 230);
    border-left-color: rgb(230, 230, 230);
    border-right-color: rgb(205, 205, 205);

    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 0;
    border-width: 0.666667px;
    border-style: solid;

    padding-left: 5px;

    border-radius: 4px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right-color: rgb(205, 205, 205);
    border-right-style: solid;
    position: relative;
    right: 0px;
    margin-right: 0;




    border-top-right-radius: 0;
    border-bottom-right-radius: 0;


}

.mobile {
    display: block;
    box-sizing: border-box;

    margin-left: 4.5px;

    margin-right: 21px;
    padding-top: 3px;
    width: auto;
    /* width:63px; -tab*/
    font-size: 12px;
    line-height: 33px;
    /* padding-left:5px; */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 19px;
    color: rgb(85, 85, 85);


}

.nav-icon {
    background-image: url(/assets/logoimages.png);
    background-position-x: 0;
    background-position-y: 1000px;
    background-repeat: repeat-x;

    border-bottom-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-left-width: 4px;
    border-right-width: 4px;
    border-top-width: 4px;
    border-bottom-width: 0px;

    box-sizing: border-box;
    height: 4px;
    position: absolute;
    right: 8px;
    top: 17px;
    width: 8px;

    color: rgb(15, 17, 17);
    border-style: solid;
    border-color: transparent;
    border-top: 4px solid #666;
    border-bottom-width: 0;
}

.nav-search-second {
    /* font-size: 14px; */
    /* font-weight: 400; */
    /* line-height: 12px; */
    /* height: 39px;    */
    /* padding-bottom:7px 10px 10px 0; */
    /* border-color: rgb(17, 17, 17); */
    /* border-radius: 4px; */
    /* outline-color: rgb(17, 17, 17); */
    /* width: 100%;
    text-indent: 8px;
    margin-left: 0; */
    /* background-color:#fff;
    display:flex;
    position:static;
    flex:1 1 0px;
    border-color:unset; */


    /* display:flex; */
    /* position:static;
    flex:1 1 0px;
    height:auto;
    width:auto;
    top:-5px;
    box-sizing:border-box; */

    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    background: #fff;
    flex: 1 1 0px;




}

.nav-search-second input {
    /* padding-bottom: 7px 10px 10px 0; */
    /* height: 38px; */
    /* font-size: 15px;
    font-weight: 400;
    line-height: 15px; */
    /* border-color: rgb(15, 17, 17); */
    /* border-radius: 4px; */
    /* outline-color: rgb(17, 17, 17); */
    /* width: 100%;
    text-indent: 8px; */
    /* height:38px; */
    /* direction:ltr; */
    /* 

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-color:unset;
    
    border-left-width: unset; */


    width: 100%;
    box-sizing: border-box;
    padding: 7px 10px 10px 7px;
    /* font-size: 15px;
    line-height: 15px; */
    height: 39px;
    border: none;
    font-size: 14px;
    /* font-weight:700; */
    line-height: 12px;
    font-family: "regular", Arial, sans-serif;


}

.nav-search-icon {
    display: flex;
    position: static;
    right: 0px;
    top: 5px;
    background-color: rgb(254, 189, 105);
    background-position-x: 0px;
    background-position-y: -381px;
    background-repeat: repeat-x;
    background-size: 350px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    border: none;
    /* width:45px;
    height:40px; */
    /* top:5px; */



}

.search-icon {
    background-image: url(assets/bgg.png);
    background-position-x: 2px;
    background-position-y: -280px;
    background-repeat: repeat-x;
    display: inline-block;
    background-color: rgb(254, 189, 105);
    background-repeat: repeat-x;
    background-size: 350px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    /* position:static;
    flex:1 1 auto; */
    /* width:auto;
    height:auto; */
    box-sizing: border-box;
    text-indent: -500px;
    /* top:10px; */
    color: rgb(17, 17, 17);
    min-width: 45px;
    height: 40px;
    /* background-position:0 -381px; */


}

.nav-end {
    display: flex;
    position: static;
    box-sizing: border-box;
    color: rgb(15, 17, 17);
    font-size: 14px;
    height: 60px;
    line-height: 12px;
    width: auto;
    margin-top: 2px;
    padding-top: 3px;
    justify-content: flex-end;
}

.nav-EN {
    display: inline-block;
    position: relative;
    margin-left: 1px;
    margin-right: 1px;
    padding-left: 7px;
    padding-right: 6px;
    padding-bottom: 10px;
    margin-top: 1px;
    margin-bottom: 1px;

}

.nav-EN-contents {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    position: static;
    margin-left: 1px;
    margin-top: 15px;
}

.flag {
    background-image: url(assets/flags.png);
    background-position-x: 0px;
    background-position-y: -166px;
    background-size: 194px 295px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-bottom: 1px;
    margin-right: 2px;
    width: 24px;
    height: 18px;
    display: flex;
    position: static;
    align-items: center;
    padding: 0;

}

.ENdiv {
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
    color: rgb(255, 255, 255);
}

.nav-end .nav-icon {
    /* margin-left:20px; */
    margin-top: 8px;
    transform: translateX(12px);
}

.nav-hellosec {
    display: flex;
    position: static;
    align-items: flex-start;
    box-sizing: border-box;
    padding-left: 9px;
    padding-right: 9px;
    margin-left: 2px;
    width: 100%;
    position: relative;
    margin-top: -6.5px;
}

.hwritings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: static;
    padding-left: 9px;
    padding-right: 4px;
    padding-bottom: 8px;
    margin-left: 1px;
    margin-right: 1px;
    height: 50px;
}

.hello {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    font-family: "regular", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 14px;
    line-height: 44px;
    margin-top: 9px;
    position: relative;
    color: rgb(214, 214, 214);
    width: 100%;


}

.accounts {
    display: flex;
    position: static;
    align-items: center;
    padding: 0;
    margin: 0;
    width: auto;
    min-width: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
    font-family: "regular", Arial, sans-serif;
    color: rgb(214, 214, 214);


}

.nav-hellosec .nav-icon {
    top: 27.5px;
    right: 15px;

}

.orders {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-sizing: border-box;
    color: rgb(214, 214, 214);
    font-size: 14px;
    height: 50px;
    justify-content: center;
    line-height: 44px;
    margin-left: 2px;
    padding-left: 9px;
    padding-right: 9px;
    position: static;
    margin-top: -7px;


}


.returns {
    box-sizing: border-box;
    display: flex;
    cursor: pointer;
    align-items: center;
    font-size: 12px;
    font-weight: 400;
    height: 14px;
    line-height: 14px;
    margin-top: 9px;
    position: static;
    font-family: "regular", Arial, sans-serif;
    color: rgb(214, 214, 214);


}

.andorders {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    color: rgb(214, 214, 214);
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
    position: static;
    font-family: "regular", Arial, sans-serif;
    white-space: nowrap;
    margin: 0;
    padding: 0;




}

.lcart {
    display: flex;
    margin-left: 2px;
    margin-right: 11px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 11px;
    box-sizing: border-box;
    color: rgb(214, 214, 214);
    cursor: pointer;
    justify-content: center;
    position: static;
    /* margin-bottom:8px; */
    /* transform:translateY(-7px); */
    /* transform:translateX(2px); */


}

.carticon {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    color: rgb(214, 214, 214);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 44px;
    flex-wrap: nowrap;
    padding: 0;
    padding-bottom: 1px;
    margin: 0;




}

.zero {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    color: rgb(240, 136, 4);
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    justify-content: center;
    line-height: 16px;
    position: relative;
    right: auto;
    right: 6px;
    top: 11.5px;
    left: 13px;
    width: 19px;
    text-align: center;
    padding: 0;
    margin: 0;
    font-family: "regular", Arial, sans-serif;
    /* margin-left:5px; */



}

.cartimage {
    display: flex;
    background-image: url(assets/logoimages.png);
    background-position-x: -10px;
    background-position-y: -340px;
    align-items: center;
    background-repeat: repeat-x;
    background-size: 350px;
    box-sizing: border-box;
    color: rgb(214, 214, 214);
    cursor: pointer;
    position: static;
    top: 11px;
    width: 38px;
    height: 26px;
    padding: 0;
    margin: 0;

}

.carttext {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    color: rgb(214, 214, 214);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 44px;
    flex-wrap: nowrap;
    padding: 0;
    padding-bottom: 1px;
    margin: 0;
}

.spancart {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    font-family: "regular", Arial, sans-serif;
    line-height: 15px;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);


}

.nav-main {
    display: flex;
    background-color: rgb(35, 47, 62);
    background-position-x: 0px;
    background-position-y: -725px;
    background-repeat: repeat-x;
    background-size: 350px;
    box-sizing: border-box;
    color: rgb(15, 17, 17);
    flex-wrap: nowrap;
    font-size: 12px;
    line-height: 12px;
    /* max-height:39px; */
    padding-left: 11px;
    position: static;
    flex-flow: nowrap;
    width: 100%;
    /* height: 39px; */
    height: 40px;

}

.navlside {
    display: flex;
    box-sizing: border-box;
    color: rgb(15, 17, 17);
    font-size: 12px;
    line-height: 12px;
    max-height: 39px;
    position: static;
    font-family: "regular", Arial, sans-serif;


}

.navlsidechild {
    display: flex;
    align-items: center;
    /* border-color:rgb(255,255,255); */
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 25px;
    line-height: 12px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 9px;
    padding-right: 9px;
    position: static;
    width: auto;
    height: auto;
    border: none;
    font-family: "regular", Arial, sans-serif;
    margin: 0;



}

.lineside {
    display: flex;
    background-image: url(assets/logoimages.png);
    background-size: 350px;
    background-position: -172px -255px;

    width: 17px;
    height: 14px;
    position: static;

}

.all {
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 12px;
    padding-left: 5px;
    white-space: nowrap;
    color: #fff;
    box-sizing: border-box;
    font-family: "bold", Arial, sans-serif;

}

.navcside {
    display: flex;
    max-height: 39px;
    position: static;
    flex: 1 1 auto;
    width: auto;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    box-sizing: border-box;
    line-height: 12px;
    align-items: center;

}

.childnavside {
    /* display: flex;
    position: static;
    flex: 1 1 100%;
    flex-flow: column nowrap;
    justify-content: flex-end;
    min-width: auto;
    padding: 0;
    white-space: nowrap; */
}

.child2 {
    /* display: flex;
    padding-left: 0;
    position: static;
    flex: 1 1 auto;
    flex-flow: row wrap;
    align-items: flex-end;
    margin-top: 0;
    /* margin: 21px 0 0; */
    /* max-height: 39px;
    overflow: hidden;
    white-space: nowrap; */


}

.ulnavside {
    /* display: contents;
    padding: 0;
    margin: 0 0 18px;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 12px;
    font-family: "bold", Arial, sans-serif;
    list-style-type: disc;
    display:flex;
    align-items: center; */


}

.ulnavside li {
    /* display:list-item;
    box-sizing: border-box;
    font-size:12px;
    line-height:12px;
    list-style-type: none;
    list-style-image: none;
    list-style-position: outside;
    text-align:left;
    overflow-wrap: break-word; */
}

.fresh {
    /* display:inline-block;
    padding:0 5px;
    position:relative;
    vertical-align: middle;
    height:100%;
    word-wrap: break-word;
    text-align:left;
    box-sizing: border-box; */

}

.ulnavside {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 0;
}

.ulnavside li {
    list-style: none;
    padding: 8px 10px;
    margin: 5px 0 6px 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.ulnavside li a {
    /* margin:5px 0 6px 0; */
    /* padding:8px 5px; */
    height: 12px;
    /* scroll-margin: 0; */
    /* box-sizing: content-box; */
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 12px;
    /* text-align:center; */
    cursor: pointer;
    text-decoration: none;
    font-family: "regular", Arial, sans-serif;

    display: flex;
    column-gap: 5.5px;
    align-items: center;
}

.ulnavside li a i {
    color: rgb(167, 172, 178);
    width: 8px;
    /* height: 14px;  */
    font-size: 10px;
}

body>header>div>div.nav-main>div.navcside>ul>li:nth-child(1),
body>header>div>div.nav-main>div.navcside>ul>li:nth-child(6) {
    padding-right: 4.5px;
}

/* .farrow{
  display: inline-flex;
  border-style:solid;
  border-color:transparent;
  border-top:4px solid #a7acb2;
  border-bottom-width:0;
  width:0;
  height:0;
  margin:18px 0px 2px;
  height:4px;
  width:8px;
} */

.fresh .nav-icon {
    top: 5px;
    left: 46px;
    right: 0px;
    color: rgb(167, 172, 178);
    /* margin:18px 0px 2px; */
}

.nav-last {
    display: flex;
    justify-content: space-between;
    height: 49px;
    background: #fff;
    box-shadow: 0 0 1px #ddd;
    position: relative;
    margin: 0;
    padding: 0 9px 0 15px;
    overflow: hidden;
    border-bottom: 1px solid rgb(0, 0, 0, .1);

}

.navlastchild {
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;
    height: 48px;
    /* line-height:50px; */
    padding: 0px 13px;
    flex: 0 0 auto;
    /* margin-top:-3px; */


}

.electronics {
    /* height:50px; */
    /* display:inline-block; */
    border: 0;
    outline: 0;
    vertical-align: baseline;
    width: auto;
    padding-top: 5px;
    /* margin-top:3.5px; */
    /* margin-top:-1px; */
}

.navlastchild img {
    height: 45px;
    width: 100px;

}

.navlastcontents {
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    height: 48px;
    line-height: 50px;
    padding: 0 13px;
    flex: 1 0 auto;

}

.navlastcontents span {
    display: inline-block;
    text-align: center;
    line-height: 50px;
    color: #333;
    font-size: 12px;
    box-sizing: border-box;
    font-family: "regular", Arial, sans-serif;
    /* margin-top:1px; */


}

.finalnavbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 0;
    align-items: center;
    /* margin-bottom: 8px; */
    max-width: 1800px;
    min-width: 996px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    /* border-top:1px solid #ccc; */
    /* border-bottom:1px solid #ccc; */
    /* box-shadow: 0 0 10px #ddd; */
    box-shadow: 0 4px 10px -2px #ddd;

    background-color: #fff;
    position: relative;
    height: 40px;
    border-bottom: none;
    border-bottom-color: none;

}

.finalwrtflexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin-left: 2px;
    margin-right: 2px;
    /* max-width:1800px; */
    /* margin:0 auto; */
    /* min-width:996px; */
    width: 100%;
    justify-content: space-between;
    display: flex;

}

.finalwrtflexbox h2 {
    box-sizing: border-box;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 10px;
    margin-bottom: 8px;
    color: rgb(15, 17, 17);
    font-family: "regular", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    justify-content: space-around;
    display: flex;
    margin-left: 10px;
    /* align-items: flex-start;
    justify-content:flex-start;  */

}


.sort-button {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    /* padding: 8px 12px; */
    background-color: #f0f2f2;
    border: 1px solid #d5d9d9;
    border-radius: 7px;
    font-family: "regular", Arial, sans-serif;

    font-size: 14px;
    color: #111827;
    cursor: pointer;
    /* padding-left: 4px; */
    /* padding-right: 4px; */
    margin-top: 8px;
    margin-bottom: 8px;
    height: 22.667px;
    /* width:132.948px; */
    text-align: right;
    margin-right: 18px;
}



.sorttext {
    padding: 0 8px 0 8px;
    padding-right: 26px;
    font-size: 11px;
    line-height: 22px;
    /* position: relative; */
    /* text-align: left; */
    /* transform:translateX(-1px); */
    transform: translateY(-4px);
    transform: translateX(0px);
    padding-bottom: 0.5px;


}



.sorttext .sort {
    color: rgb(15, 17, 17);
    /* text-align:left; */
    margin-right: 6px;
    line-height: 22px;
    font-size: 11px;
    font-weight: 400;
    font-family: "regular", Arial, sans-serif;


}

/* .sort-text {
    margin-left: 8px;
    padding-left: 8px;
    padding-right: 26px;
} */

/* .arrow {
    margin-left: 8px;
    font-size: 10px;
    color: #4b5563;
} */



.sort-button .arrow {
    position: absolute;
    top: 15px;
    right: 28.5px;
    background-image: url(assets/iconsss.png);
    width: 10px;
    height: 8px;
    background-position: -7px -102px;
    background-size: 400px 900px;
    background-repeat: no-repeat;

}

.bestselling {
    display: inline-block;
    margin-left: -3px;
}


.centersection {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-content: flex-start;
    /* align-items: stretch; */
    justify-content: flex-end;

    /* justify-content:flex-start; */
    margin-right: 12px;
    margin-left: 12px;
    /* padding-top: 14px; */


    padding-top: 22px;




    margin: 0 auto;


    /* max-width: 1800px; */
    width: calc(100vw - 28px + 4px);
    min-width: 996px;



}

.sidebarsection {
    box-sizing: border-box;

    /* margin-bottom: 48px; */

    margin-bottom: 16px;

    padding-left: 4px;
    /* padding-left: 8px; */

    padding-right: 16px;
    display: block;
    width: calc(.2 * (100vw - 28px));
    min-width: 199.2px;
    max-width: 359.2px;
    overflow: visible;
    /* width:237.06px; */

}

.categorysec {
    display: block;
    box-sizing: border-box;
    line-height: 16px;
    word-break: break-word;
    margin-bottom: 0;
}

.categorysec h2 {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: rgb(15, 17, 17);
    font-family: "bold", Arial, sans-serif;

    margin-top: 0;


}

.sidecontents {
    display: block;
    margin-bottom: 16px;
    margin-left: 0;
    padding: 0;
    margin-top: 0;

}








.elec {
    display: list-item;
    margin-bottom: 4px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 16px;
    list-style: none;
    text-align: left;
}

.backarrowimg {
    display: inline-block;
    background-image: url(assets/backarrow.svg);
    width: 6px;
    height: 10px;
    background-repeat: no-repeat;

}

.elec span {
    line-height: 16px;
    font-size: 14px;
    text-align: left;
    list-style-type: none;
    font-family: "regular", Arial, sans-serif;


}

.sidemobile {
    margin-left: 12px;
    margin-bottom: 4px;
    list-style: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    font-family: "bold", Arial, sans-serif;
    list-style: none;




}

.rightcontents {
    margin-left: 24px;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 16px;
    font-family: "regular", Arial, sans-serif;
    list-style: none;


}

.phones {
    font-size: 14px;
    font-weight: unset;
    font-family: "regular", Arial, sans-serif;
}

.sidemobile .brand-icon {
    background-image: url(assets/checkbox.png);
    background-position: -490px -380px;
    height: 16px;
    width: 16px;
    background-size: 512px 512px;
    background-repeat: no-repeat;
    /* vertical-align:top; */
    display: inline-block;
    /* text-indent:-19px;
    margin-left:-12px; */
}


.sidemobile .brand-icon1 {
    background-image: url(assets/checkbox.png);
    background-position: -357px -357px;
    height: 16px;
    width: 16px;
    background-size: 512px 512px;
    background-repeat: no-repeat;
    /* vertical-align:top; */
    display: inline-block;
    /* text-indent:-19px;
    margin-left:-12px; */
}

.sideother {
    margin-left: 0px;
    height: 16px;
    width: 226.4px;
}

.sideother .sam {
    padding-left: 1.5px;
    transform: translateY(-1px);
    display: inline-block;
}


.sidediv {
    transform: translateY(-2px);

    margin-bottom: 16px;
}

/* .rightarrow{
   
    background:none;
   
    transform: rotate(45deg);
    margin-top:-5px;
    margin-left:2px;
     margin-bottom:3px;
    margin-right:5.390px;
   
    border:solid #0f1111;
    border-width:0 2px 2px 0;

    padding:3px;
    opacity:1;
    height:7px;
    width:7px;
    

    
    display:inline-block; */
/* vertical-align: baseline; */

/* .rightarrow { */



/* background: none;
    transform: rotate(45deg);
    margin: -3px 5px 2px 2px;
    
    border: solid #0f1111;
    border-width: 0 1.5px 1.5px 0;

    padding: 2px;
    height: 5px;
    width: 5px;

    display: inline-block;
    vertical-align: middle;
    opacity: 1; */
/* } */

/* .siders{
    margin-left:0;
} */
.seeee {
    /* margin-bottom:0px; */

    transform: translateX(0.5px);
}

.seeee span {
    color: rgb(33, 98, 161);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;


}

.seeee span:nth-child(2) {
    display: inline-block;
    transform: translateY(2px);
}

.seeee .backarrowimg {
    transform: rotate(270deg);
    width: 11.31px;
    height: 11.31px;

}

.customersec {
    display: block;
    line-height: 16px;
    box-sizing: border-box;
    margin-bottom: 0;

}

.customertext {
    display: block;
    margin-bottom: 8px;
    line-height: 16px;
    font-size: 14px;
    font-weight: 700;
    font-family: "bold", Arial, sans-serif;


}

.customerrating {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;

}

.cstars {
    background-image: url(assets/stars.png);
    background-position: -21px -488px;
    background-size: 512px 512px;
    background-repeat: no-repeat;
    height: 22px;
    width: 95px;
    margin-right: 1px;
    top: -2px;
    position: relative;
    vertical-align: text-top;
    display: inline-block;


}

.customerrating .up {
    font-size: 12px;
    line-height: 16px;
    box-sizing: border-box;
    font-family: "regular", Arial, sans-serif;
    margin-left: 4px;
    margin-top: 1px;



}

.termscondt {
    display: block;
    box-sizing: border-box;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 16px;


}

.itemterm {
    display: block;
    margin-bottom: 8px;
    box-sizing: border-box;
    color: rgb(15, 17, 17);
    font-family: "bold", Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;


}

.newterm {
    margin-bottom: 16px;
    /* margin-bottom:4px; */
    /* margin-bottom: 20px; */
    color: rgb(15, 17, 17);
    display: block;
    font-family: "regular", Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;


    margin-bottom: 16px;





}

.pricesec {
    display: block;
    box-sizing: border-box;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 16px;


}

.pricetext {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    margin-bottom: 4px;
    font-family: "bold", Arial, sans-serif;

}

.pricerange {
    display: flex;
    align-items: center;
    padding: 8px 0 2px;
    margin-bottom: 4px;
    box-sizing: border-box;


}

.money6 {
    display: block;
    margin-left: 0;
    margin-right: 4px;
    padding: 0;
    font-weight: 700;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    font-family: "bold", Arial, sans-serif;
    color: rgb(15, 17, 17);




}

.slidersec {
    display: flex;
    align-items: center;
    padding-bottom: 2px;
    margin-bottom: 4px;
    box-sizing: border-box;
}

.sliderscene {
    display: block;
    box-sizing: border-box;
    padding: 10px 0;
    flex: 1;
    margin-top: 12px;
    margin-bottom: 12px;


}

.gobutton {
    display: inline-block;
    margin-left: 8px;
    margin-bottom: 0;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-color: rgb(136, 140, 140);
    border-radius: 40px;
    /* height:30px; */
    /* width:41.81px; */
    width: 43.15px;
    height: 31.33px;
    border-width: 0.666667px;
    /* align-items:center; */
    border-style: solid;
    padding: 0;
    display: flex;
    align-items: center;
    text-align: center;
    transform: translateY(1px);






}

.gobutton span {
    text-align: center;
    font-size: 14px;
    line-height: 16px;
    font-family: "regular", Arial, sans-serif;
    padding-left: 11.5px;
    padding-right: 18px;
    padding-top: 16px;
    padding-bottom: 1px;

    padding-right: 6px;
    padding-left: 6px;
    padding-top: 1px;
    padding-bottom: 1px;
    height: 30px;
    width: 41.81px;
    transform: translateY(6.5px);

}









/* .main-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.line-wrapper {
  display: flex;
  align-items: center;
}

.circle {
  width: 24px;
  height: 24px;
  background-color: #007080;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 112, 128, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.circle::after {
  content: '';
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}

.line {
  width: 175.25px;
  height: 4px;
  background-color: #007080;
  box-shadow: 0 0 4px rgba(0, 112, 128, 0.5);
} */




.termscondt .alldis {
    margin-bottom: 4px;
}

.eligible {
    /* margin-bottom:20px; */
    /* margin-bottom:20px; */


}

.discountsec {
    margin-bottom: 16px;
}

.offmore {
    margin-bottom: 4px;
}


.eligibles {
    margin-bottom: 4px;
    transform: translateY(-2px);

}

.termargin {
    margin-bottom: 16px;
}



/* -------------sticky--------------- */

/* .nav-belt{
    position: sticky;
  top: 0; 
  z-index: 9999; 
} */



.sidebarsection {
    margin-bottom: 48px;
}


.pricesec {
    /* margin-bottom:12px; */
    margin-bottom: 16px;


}

.eligible {
    margin-bottom: 16px;
    transform: translateY(-2px);
}

.sideother .samchild {
    transform: translateY(-2px);
    display: inline-block;
}

.sideother .samunset {
    display: inline-block;
    margin-bottom: 4px;
    transform: translateY(-2px);
}

.seetranslate {
    /* transform:translateY(-2px);

    transform:translateX(1px); */

    transform: translate(1px, -2px);

}

.cardsection {
    display: block;
    padding: 0 4px;
    height: 100%;
    box-sizing: border-box;
    /* width: 985.594px; */
    width: calc(.8 * (100vw - 28px));
    min-width: 796.8px;
    max-width: 1436.8px;
}

.cardgrid {
    display: grid;
    /* align-content:flex-start; */
    align-items: stretch;
    justify-items: stretch;
    box-sizing: border-box;
    grid-template-columns: repeat(16, 1fr);
    margin-right: -4px;
    margin: 0 8px 0 -4px;
    padding: 0;
    width: auto;
    min-width: 0;


}

.cardresultsec {
    display: block;
    padding-left: 4px;
    padding-right: 4px;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 20px;
    grid-column-start: 1;
    grid-column-end: -1;
    height: calc(100% - 4px);
}



.cardresultsec h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    margin: 0;
    padding: 0;
    font-family: "bold", Arial, sans-serif;
}

.cardresultsec span {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: "regular", Arial, sans-serif;
    color: rgb(86, 89, 89);

}

.firstphone {

    /* grid-column: auto / span 4; */
    grid-column: span 4;
    padding: 0 4px;
    height: 100%;
    box-sizing: border-box;

    /* width: auto;
    min-width: 0;
    float: none; */
    /* max-width: 359.2px; */
    /* height: 100%; */
    /* display: block; */


}

.firstphonechild {

    /* margin-bottom: 8px; */
    margin-bottom: 8px;

    height: calc(100% - 8px);
    box-sizing: border-box;
    /* padding: 0 4px;  */

}


.phonebox {
    /* display:flex;
    flex-direction:column; */
    /* justify-content:center; */
    /* padding-top:0px;
    margin-bottom:8px;
    padding-right:8px;
    padding-left:8px;  */


    /* width:237.06px;
    height:221.06px; */


    height: 100%;
    box-sizing: border-box;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    /* overflow: hidden; */
    /* margin-bottom:12px; */


}

.phoneboxwrapper {
    margin-bottom: 12px;
}

.phonebox .phoneimage {
    margin-bottom: 8px;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* width: auto; */
    position: relative;
    /* overflow: hidden; */

    /* border: none;
    font-size: 14px;
    line-height: 20px;
    object-fit:contain; */
    box-sizing: border-box;


}

.phonebox .phoneimage1 {
    height: 100%;
    width: 100%;

}

.phonebox .phoneimage1::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .03;

}



.phonebox .simage {
    padding-top: 100%;
    margin-bottom: 0;
    /* position: relative; */
    box-sizing: border-box;
}

.simage img{
    vertical-align: top;
    position: absolute;
    margin: auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
    max-width: 100%;
    max-height: 100%;

}









.phonecontents {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 8px;
    display: block;

}

.phonecabout {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 8px;
    max-height: 172.8px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    overflow: hidden;
    text-overflow: ellipsis;

    -webkit-box-orient: vertical;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;




}

.phonecabout h2 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: "regular", Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;

}

.phonecstar {
    display: block;
    font-size: 14px;
    line-height: 20px;
    padding-top: 4px;
    box-sizing: border-box;


}

.phstar {
    display: block;
    width: 100%;
    font-size: 12px;
    line-height: 16px;
    box-sizing: border-box;


}

.phstar::before {
    display: table;
    content: '';
    line-height: 0;
    font-size: 0;

}

.phstar::after {
    clear: both;
}


.phstar::before {
    display: table;
    content: '';
    line-height: 0;
    font-size: 0;
}


.phstar .phstarimage {
    display: inline-block;
    background-image: url(assets/starr.png);
    background-position: -210px -468px;
    background-size: 512px 512px;
    background-repeat: no-repeat;
    width: 80px;
    height: 18px;
    position: relative;
    vertical-align: top;
    box-sizing: border-box;


}

.phstar .pharrow {
    display: inline-block;
    background-image: url(assets/starr.png);
    background-position: -429px -357px;
    background-size: 512px 512px;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    vertical-align: top;
    box-sizing: border-box;

}

.phprice {
    font-size: 14px;
    line-height: 20px;
    box-sizing: border-box;
    font-family: "regular", Arial, sans-serif;
    color: rgb(33, 98, 161);

}

.phonecrange {
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    font-family: "regular", Arial, sans-serif;
    color: rgb(86, 89, 89);
    box-sizing: border-box;
}

.phonecrange span {
    font-size: 14px;
    line-height: 20px;
    font-family: "regular", Arial, sans-serif;
    color: rgb(86, 89, 89);
    box-sizing: border-box;
}

.offph {
    display: block;
    margin-top: 8px;
    margin-bottom: 0;
    box-sizing: border-box;


}

.offpricetag {
    /* display: block; */
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
}

.pricdiv {

    box-sizing: border-box;
    /* position:absolute;
    bottom:-1px;
    left:0;
    z-index:-1;
    opacity:0; */
    color: rgb(15, 17, 17);

}

.pricdiv .ruppee {

    box-sizing: border-box;
    position: relative;
    top: -9.75px;
    color: rgb(15, 17, 17);
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    font-family: "regular", Arial, sans-serif;
}

.valuemoney {
    box-sizing: border-box;
    font-size: 28px;
    font-weight: 400;
    font-family: "regular", Arial, sans-serif;



}

.offpricetag .mrp {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    box-sizing: border-box;
    color: rgb(86, 89, 89);
    font-family: "regular", Arial, sans-serif;
}

.offpricetag .mrpvalue {
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 400;
    color: rgb(86, 89, 89);
    text-decoration: line-through;
    font-family: "regular", Arial, sans-serif;


}

.offpricetag .moneyoff {
    /* display:inline-block; */

}

.offpricetag .moneyoff {
    font-size: 14px;
    line-height: 20px;
    font-family: "regular", Arial, sans-serif;
    margin-left: 2px;


}

.offdes span {
    box-sizing: border-box;
    color: rgb(86, 89, 89);
    display: block;
    font-size: 14px;
    line-height: 18.2px;
    /* height:13em; */
    height: 18.1979px;
    width: 221.062px;
    word-break: normal;
    font-family: "regular", Arial, sans-serif;


}

.phonecprime {
    display: block;
    padding-top: 4px;
    margin-top: 0;
    box-sizing: border-box;
    width: 100%;
    font-size: 14px;
    line-height: 20px;


}

.phonecprime .primeimg {
    display: inline-block;
    background-image: url(assets/prime.png);
    background-position: -181px -128px;
    position: relative;
    bottom: -1.75px;
    margin-bottom: -1.75px;
    background-size: 512px 256px;
    background-repeat: no-repeat;
    width: 53px;
    height: 15px;
}

.firstrow {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;


}

.firstrow span {
    font-size: 14px;
    line-height: 20px;
    box-sizing: border-box;
    font-family: "regular", Arial, sans-serif;


}

.firstrow .thu {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    box-sizing: border-box;
    font-family: "regular", Arial, sans-serif;

}

.phonecaddcart {
    display: block;
    padding-top: 4px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 20px;
    font-family: "regular", Arial, sans-serif;



}

.phonecaddcart button {
    padding-left: 12px;
    padding-right: 12px;
    background-color: rgb(255, 216, 20);
    border-color: rgb(255, 216, 20);
    border: none;
    border-radius: 100px;
    border-width: 0.666667px;
    font-size: 13px;
    line-height: 20px;
    /* width:91.2917px; */
    height: 31.333px;
    text-align: center;
    font-family: "regular", Arial, sans-serif;
    /* padding-top:0;
    padding-bottom:0; */
    margin-top: 4px;

}